# data
/learning/model_training/data/files
/learning/model_training/__pycache__
/learning/data_generation/output
/learning/data_generation/__pycache__
/learning/model_training/models/__pycache__
/.vscode
/Data/Reality/